.support{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}